@mixin width($width:auto) {
    width: $width;
}

@mixin height($height:auto) {
    height: $height;
}

@mixin float($float:none) {
    float: $float;
}

@mixin media($width){
    @media screen and (max-width:$width) {
        @content;
    }
}

@mixin headermath($font){
    font-size: $font - 1
}