$white: #FFF;
$red: #E65C43;
$silver: #666;
$headline-color: #F25C43;
$footer-bg:#30353D;
$greybar-bg:#F5F6F6;

$logo: url('../images/logo.png');
$social-media: url('../images/social-media.png');
$background-img: url('../images/bg.gif');